* {
  padding: 0;
  margin: 0;
}

img {
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 500px;
  left: 600px;
  color: white;
  margin: 50px;
}

.player1Heading {
  position: absolute;
  top: 600px;
  left: 600px;
  color: white;
}

.player2Heading {
  position: absolute;
  top: 600px;
  left: 700px;
  color: white;
  text-decoration: none;
}

.player2Heading:hover {
  text-decoration: underline;
  color: blue;
}

h4 {
  text-align: center;
  margin: 50px;
  color: blue;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0;
  margin-left: 40%;
  width: 300px;
}
.main--sec {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 200px;
  justify-content: center;
  margin-left: 40%;
  margin-top: 100px;
}
.playerInfo button {
  width: 100px;
}
.playerInfo #reset {
  margin-left: 50px;
  width: 100px;
  grid-column: 1/span 2;
}